@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import "tailwindcss";

html,
body,
#__next {
  background-color: #fdfdfd;
  min-height: 100vh;
  font-family: "Fuzzy Bubbles", cursive, sans-serif;
}

/* Custom Scrollbar Styles */

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f1f1f1;
}
