@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import "tailwindcss";

html,
body,
#__next {
  background-color: #fdfdfd;
  min-height: 100vh;
  font-family: "Fuzzy Bubbles", cursive;
}
